* {
  font-family: sans-serif, serif;
  color: white;
  text-align: center;
}

body {
  background-color: #2176FF;
  padding: 60px;
  padding-top: 30px;
}

#index-header {
  font-style: italic;
  letter-spacing: 3px;
}

.nav-li {
  display: inline;
  padding: 20px;
}

.nav-li a {
  font-size: 25px;
}

h1 {
  font-size: 60px;
}

#name {
  margin-bottom: 0;
}

.location-name {
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
}

h1 a {
  text-decoration: none;
}

#year {
  margin-bottom: 40px;
}

main {
  margin-top: 40px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

main section {
  width: 48%;
  float: left;
  padding: 5px;
}

#my-description {
  padding-left: 150px;
  line-height: 1.5;
}

img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 80px;
  font-style: italic;
  border-top: 5px  solid #31393C;
}

footer section {
  width: 33%;
  float: left;
  padding-top: 15px;
}

footer section:not(:last-child) {
  border-right: 5px  solid #31393C;
}

#email {
  text-decoration: none;
}

.main-locations {
  margin-top: 70px;
}

dd, dt {
  text-align: initial;
}

dd {
  margin-bottom: 30px;
}

dl {
  padding-left: 200px;
}

